<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{url_for('static',filename = 'style.css')}}"
		/>
		<title>Document</title>
	</head>
	<body>
		<table>
			<tr>
				<th>Dojo Name</th>
				<th>ninja Name</th>
				<th>Age</th>
			</tr>
			<tr>
				<td>{{dojo.name}}</td>
				{% for n in dojo.ninjas:%}
				<td>{{n.first_name}} {{n.last_name}}</td>
				<td>{{n.age}}</td>
				{%endfor%}
			</tr>
		</table>

		<div>
			<a href="/"> Home page</a>
		</div>
	</body>
</html>
